@(dataForm: Form[DataToAnalyze])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("日志分析") {

    @helper.form(action = routes.AnalyzerController.submit(), 'enctype -> "multipart/form-data") {

        @CSRF.formField

        @helper.select(
            field = dataForm("platform"),
            options = Seq(
                "android" -> "Android",
                "ios" -> "iOS",
                "pc" -> "PC",
                "osx" -> "OS X",
                "web" -> "Web"
            ),
            '_label -> "运行平台", '_showConstraints -> false
        )

        @* @helper.inputText(dataForm("version"), '_label -> "SDK 版本", 'placeholder -> "版本号", '_showConstraints -> false) *@

        @helper.select(
            field = dataForm("version"),
            options = Seq(
                "1.0.0" -> "1.0.0"
            ),
            '_label -> "问题描述",
            '_showConstraints -> false
        )

        @helper.select(
            field = dataForm("problem"),
            options = Seq(
                "1" -> "没有画面",
                "2" -> "无法接受离线消息",
                "3" -> "应用崩溃"
            ),
            '_label -> "问题描述", '_showConstraints -> false
        )

        <p>日志文件</p>
        <input type="file" name="logfile">

        <button type="submit" class="btn">开始分析</button>
    }
}